html {
  background: #dedfe0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  background-image: linear-gradient(315deg, #fff 0%, #dedfe0 90%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  flex: 1 1;
}

.header {
  text-align: right;
  height: 10vh;
}

.github-logo {
  height: 30px;
  width: 30px;
}

@media(min-width: 816px) {
  .content {
    padding: 0 5em;
  }

  .header {
    margin: 1rem 2rem;
  }
}

@media(max-width: 815px) {
  .content {
    padding: 0 2em;
  }

  .header {
    margin: 0.5rem 2rem;
  }
}

@media(max-width: 555px) {
  .content {
    padding: 0 1em;
  }

  .header {
    margin: 0 2rem;
  }
}